<!DOCTYPE html>

<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta http-equiv="origin-trial" content="A7vZI3v+Gz7JfuRolKNM4Aff6zaGuT7X0mf3wtoZTnKv6497cVMnhy03KDqX7kBz/q/iidW7srW31oQbBt4VhgoAAACUeyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGUuY29tOjQ0MyIsImZlYXR1cmUiOiJEaXNhYmxlVGhpcmRQYXJ0eVN0b3JhZ2VQYXJ0aXRpb25pbmczIiwiZXhwaXJ5IjoxNzU3OTgwODAwLCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ==">




<title>E-Challan Payment Maharashtra State</title>
<link rel="shortcut icon" href="./E-Challan Payment Maharashtra State_files/mh_logo.png">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script type="text/javascript" async="" charset="utf-8" src="./E-Challan Payment Maharashtra State_files/recaptcha__en.js.download" crossorigin="anonymous" integrity="sha384-TnttG+UhZcM8I0YLwHFXmjuU0uVv/3X99Itc+0eiXTiqtrwYAZwNs8Q9WliKgfF8"></script><script src="./E-Challan Payment Maharashtra State_files/jQuery.js.download"></script>


<link rel="stylesheet" href="./E-Challan Payment Maharashtra State_files/font-awesome.css">
<link rel="stylesheet" href="./E-Challan Payment Maharashtra State_files/bootstrap.css">
<link rel="stylesheet" href="./E-Challan Payment Maharashtra State_files/Menu.min.css">
<link rel="stylesheet" href="./E-Challan Payment Maharashtra State_files/NavBar.css">
<link rel="stylesheet" href="./E-Challan Payment Maharashtra State_files/jquery-ui.css">
<link rel="stylesheet" href="./E-Challan Payment Maharashtra State_files/jquery.timepicker.min.css">
<link rel="stylesheet" href="./E-Challan Payment Maharashtra State_files/common.css">
<link rel="stylesheet" href="./E-Challan Payment Maharashtra State_files/PayE-ChallanForm.css">
<link rel="stylesheet" href="./E-Challan Payment Maharashtra State_files/PolicyPage.css">
<link rel="stylesheet" href="./E-Challan Payment Maharashtra State_files/Payment.css">
<script src="./E-Challan Payment Maharashtra State_files/bootstrap.min.js.download"></script>
<script src="./E-Challan Payment Maharashtra State_files/jquery.bootpag.min.js.download"></script>
<script src="./E-Challan Payment Maharashtra State_files/jquery-ui.js.download"></script>
<script src="./E-Challan Payment Maharashtra State_files/jquery.timepicker.js.download"></script>
<script src="./E-Challan Payment Maharashtra State_files/Menu.min.js.download"></script>
<script src="./E-Challan Payment Maharashtra State_files/NavBar.js.download"></script>
<script src="./E-Challan Payment Maharashtra State_files/Home.js.download"></script>






<link rel="stylesheet" href="./E-Challan Payment Maharashtra State_files/TransitionHeader.css">
<script src="./E-Challan Payment Maharashtra State_files/TransitionHeader.js.download"></script>
<link rel="shortcut icon" href="./E-Challan Payment Maharashtra State_files/mh_logo.png">

</head>

<body class="home-body">
	<div class="container-fluid main-container-sec">
		<header class="main-header navbar navbar-expand-lg">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-12 header-logo-sec">
					<a class="navbar-brand header-logo" href="https://mahatrafficechallan.gov.in/payechallan/PaymentService.htm?_qc=93d4f205be5b350e848e49658938972c">
						<img src="./E-Challan Payment Maharashtra State_files/mh_logo.png" class="header-logo-img" title="Maharashtra Police" alt="Maharashtra Police">
					</a>
					<p>E-Challan Payment
						<br>Maharashtra State</p>
					<!-- <div style="width:80px;"> 
					<p style="color:white;">National emblem</p>
				</div>-->
					<!-- 					<div style=""> -->
					<!-- 						<img src="resources/images/Mh-Highway-police-logo.png" -->
					<!-- 							class="highway-police-logo-img"  -->
					<!-- 							title="Maharashtra Highway Police" -->
					<!-- 							alt="Maharashtra Highway Police"> -->
					<!-- 					</div> -->
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 d-flex justify-space-bet navigation-section">
					<!-- <div>
					<img src="resources/images/Mh-Highway-police-logo.png" width=100px;>
				</div>-->

					

					
					<!-- <div class="topnavnew">
						<a href="#home" class="active">Logo</a>
						Navigation links (hidden by default)
						<div id="myLinks">
							<a href="#news">News</a> <a href="#contact">Contact</a> <a
								href="#about">About</a>
						</div>
						"Hamburger menu" / "Bar icon" to toggle the navigation links
						<div  class="icon" onclick="hamburgerClick()"> abcd
						</div>
					</div> -->

					


					<!-- dropdown for mobie and tab -->
					<!-- 				<div class="nav-item resp-dropdown" style="z-index:999"> -->
					<!-- 					<div class="nav-item resp-dropdown"> -->
					<!-- 											<span style="display:none;">Language:</span> -->
					<!-- 										   <select class="box" >  -->
					
					
					
					
					
					
					
					
					
					
					
					
					
					<!-- 								<div class="resdropdown"> -->
					<!-- 								<button onclick="myFunction1()" class="dropbtn">मराठी</button> -->
					<!-- 								<div id="myDropdown1" class="dropdown-content"> -->
					<!-- 									<li><a -->
					
					<!-- 									<li><a -->
					
					<!-- 								</div> -->
					<!-- 							</div> -->
					
					
					
					
					
					
					
					
					
					
					
					
					
					<!-- 								<div class="resdropdown"> -->
					<!-- 								<button onclick="myFunction1()" class="dropbtn">English</button> -->
					<!-- 								<div id="myDropdown1" class="dropdown-content"> -->
					<!-- 									<li><a -->
					
					<!-- 									<li><a -->
					
					<!-- 								</div> -->
					<!-- 							</div> -->
					
					

					<!-- 										    </select> -->

					<!-- 					</div> -->
				</div>



				<!-- dropdown for desktop -->
								
				
				<div class="col-lg-2 col-md-2 col-sm-12 language-select">
					<div class="nav-item dropdown language-dropdown">
						<!-- 				 	<span>Language:</span> -->
						<!-- 					  <select class="box"> -->
						
							
							
								
								<div class="dropdown">
									<button onclick="myFunction()" class="dropbtn">
										English<span class="caret"></span>
									</button>
									<div id="myDropdown" class="dropdown-content">
										<a href="https://mahatrafficechallan.gov.in/payechallan/PaymentService.htm?_qc=93d4f205be5b350e848e49658938972c">English</a>
										<a href="https://mahatrafficechallan.gov.in/payechallan/PaymentService.htm?_qc=ba89365229b7b75fca3631bfc7b6b518">मराठी</a>
									</div>
								</div>
							
						

						<!-- 					    </select> -->

					</div>
				</div>
				
			</div>

		</header>
		<div class="row main-sec" style="min-height: 412px;">
			<div>
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
				
			
				
				







<script src="./E-Challan Payment Maharashtra State_files/api.js.download"></script>
<script src="./E-Challan Payment Maharashtra State_files/PayE-ChallanForm.js.download"></script>
<link rel="stylesheet" href="./E-Challan Payment Maharashtra State_files/PayE-ChallanForm.css">
<link rel="stylesheet" href="./E-Challan Payment Maharashtra State_files/font-awesome.min.css">


<!-- <body> -->
	<div class="container-fluid main-content-left center">
<!-- 		<div class="col-lg-8 col-sm-12 col-md-8 text-left"> -->
		<input type="hidden" id="languageType" value="ENG">
				
		
		
		
		

<!-- 			<p id="info">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p> -->
<!-- 			<p id="info">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p> -->
<!-- 			<a href="#" class="text-readmore" id ="readMore" onclick="ReadMoreFunction()">Read More</a> -->
       
<!-- 		</div> -->
		<div class="col-md-4 col-lg-4 col-sm-12 col-xs-12 sm-px-0 form-right" style="margin-top: 5%;margin-bottom: 5%;">
			<div class="col-lg-1 col-md-1 col-sm-1"></div>
			<div class="col-md-10 col-sm-10 col-xs-12" style="padding-left:0;">
			<div class="clearfix">&nbsp;</div>
				<h4 style="padding-bottom:20px;">E-Challan Payment Maharashtra State</h4>
			</div>
			<div class="col-lg-1 col-md-1 col-sm-1"></div>
			
						
			<form id="frm" class="form-horizontal" action="https://mahatrafficechallan.gov.in/payechallan/ChallanDtls.htm?_qc=ce36d276a0d02d6d5ad65d498b3db211" method="POST" onsubmit="return validator();">
				
				<input id="homePageContext" value="HomePageContext [headingname=E-Challan Payment Maharashtra State, vehicleno=Vehicle No, challanno=Challan No, inputvehicletext=Enter Vehicle Number, inputvehiclemsgtext=Please enter vehicle No, inputvehicletextenginechessis=Enter last 4 digits of Chassis/Engine no, intputvehiclechessisenginemsg=Please enter last 4 digits of Chassis or Engine No, inputchallantext=Enter Challan Number, inputchallanmsgtext= Please enter Challan No, inputcodetext=Please enter above code, submitbuttontext=Submit, mobilelinktext=Click here to link/unlink mobile number to your vehicle number, grivancelinktext=Click here to raise a grievance for wrongly booked challan or any payment issue, subheadingtext=Maharashtra Traffic Police Guideline, subheadingdes=Lorem Ipsum is simply dummy text of the printing and typesetting industry, readmore=Readmore, readless=Readless, downloadmanual=Download Manual, pdftext=E-challan Manual]" type="hidden">
				<input id="registerdate" name="registerdate" type="hidden" value="LHC9C4P19">
                <input id="registersri" name="registersri" type="hidden" value="3195363A269DD26E679F7444C27A166A">
				<!--<div class="logo text-center">
					<img alt="" src="resources/images/mh_logo.png" align="middle">
				</div>-->

				<div class="clearfix">&nbsp;</div><div class="row">
					<div class="control-label col-md-1 col-lg-1 col-sm-1"></div>
					<div class="col-lg-0 col-md-10 col-sm-5 col-xs-12">
						<input id="vehicleId" name="challanCategory" class="form-radio" onchange="changeplh()" type="radio" value="VNO" checked="checked">
						&nbsp; Vehicle No.&nbsp;&nbsp;&nbsp;
						<input id="challanId" name="challanCategory" onchange="change()" type="radio" value="CHNO">
						&nbsp; Challan No.
						
					</div>
					<div class="control-label col-lg-1 col-md-1 col-sm-1"></div>
				</div>
				<input type="hidden" id="vehicleNumber">
				<div class="clearfix">&nbsp;</div>
				<div class="row">
					<div class="control-label col-lg-1 col-md-1 col-sm-1"></div>
					<div class="col-lg-10 col-md-10 col-sm-5 col-xs-12">
						<input id="txt" name="categoryNo" onkeypress="return (event.charCode &lt;= 8) || (event.charCode &gt;= 65 &amp;&amp; event.charCode &lt;= 90) || (event.charCode &gt;= 97 &amp;&amp; event.charCode &lt;= 122) || (event.charCode &gt;= 48 &amp;&amp; event.charCode &lt;= 57) " onkeyup="this.value = this.value.toUpperCase();" placeholder="Enter Vehicle Number" class="form-control" type="text" value="" maxlength="20" autocomplete="off">
						<span id="searchErr" class="payEchallanVehicleErr"></span>
					</div>
					<div class="control-label col-lg-1 col-md-1 col-sm-1"></div>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="row">
					<div class="control-label col-lg-1 col-md-1 col-sm-1"></div>
					<div class="col-lg-10 col-md-10 col-sm-5 col-xs-12">
						<input id="chassiId" name="engChasisNo" onkeypress="return (event.charCode &lt;= 8) || (event.charCode &gt;= 65 &amp;&amp; event.charCode &lt;= 90) || (event.charCode &gt;= 97 &amp;&amp; event.charCode &lt;= 122) || (event.charCode &gt;= 48 &amp;&amp; event.charCode &lt;= 57) " onkeyup="this.value = this.value.toUpperCase();" placeholder="Enter last 4 digits of Chassis/Engine no" class="form-control" type="text" value="" maxlength="4" autocomplete="off">
						<span id="emptyChassiErr" class="emptyChassiErr"></span>
					</div>
					<div class="control-label col-lg-1 col-md-1 col-sm-1"></div>
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="row">
					<div class="control-label col-lg-1 col-md-1 col-sm-1"></div>
					
						
						
							<div class="col-lg-6 col-md-6 col-sm-3 col-xs-5">
								<img src="./E-Challan Payment Maharashtra State_files/captcha.jpg" id="edit-save" class="control-img mb-16" style="width:150px;" title="captcha-img" alt="captcha-img">
								<!-- 						<input type="text" id="enteredCaptcha" name="jcaptcha" value="1111" -->
								<input type="text" id="enteredCaptcha" name="jcaptcha" placeholder="12345678" maxlength="8" autocomplete="off" onkeypress="return (event.charCode &lt;= 8) || (event.charCode &gt;= 65 &amp;&amp; event.charCode &lt;= 90) || (event.charCode &gt;= 97 &amp;&amp; event.charCode &lt;= 122) || (event.charCode &gt;= 48 &amp;&amp; event.charCode &lt;= 57) " class="form-control captcha-text captcha-text-resp"></input> <a href="https://mahatrafficechallan.gov.in/payechallan/PaymentService.htm?_qc=91a17967f79753cc6a79b7ddf9f890cf#" id="refreshCaptchaId"> <i class="fa fa-refresh captcha-size-context captcha-refresh-resp" aria-hidden="true"></i>
								</a> <span id="invalidCaptchaErr" class="invalidCaptchaErr"></span>
							</div>
						
					
				</div>
				<div class="clearfix">&nbsp;</div>
				<div class="row last">
					<div class="col-lg-1 col-md-1 col-sm-1"></div>
					<div class="col-md-10 col-sm-10 col-xs-12 form-links">
						<button type="submit" class="btn blue-btn submit-btn-blue" id="databtn" style="max-width: 130px;margin-bottom: 20px;">Submit</button>
						<a href="https://mahatrafficechallan.gov.in/payechallan/mobileToLink.htm?_qc=93d4f205be5b350e848e49658938972c"><h5 style="color: blue;">Click here to link/unlink mobile number to your vehicle number</h5></a>
<!-- 						2020-1148-Grievance Changes -->
						<a href="https://mahatrafficechallan.gov.in/MH-Echallan-Grievance"><h5 style="color: blue;">Click here to raise a grievance for wrongly booked challan or any payment issue</h5></a>
						<!-- 2020-1148-Grievance Changes -->
					</div>	
					<div class="col-lg-1 col-md-1 col-sm-1"></div>
				</div>
				<div class="form-group last">
					<div class="col-sm-offset-3 col-sm-9">
						
					</div>
				</div>
			</form>
		</div>

	</div>
<!-- <br> -->
<!-- 	<div class="col-12 my-5" -->
<!-- 		style="background-color: white; border-top: 1px solid; color: black;"> -->
<!-- 		<div class="bg-primary text-lg-start text-white" -->
<!-- 			style="background-color: white;"> -->
<!-- 			<div class="container p-4"> -->
<!-- 				<div class="col-lg-2 col-md-6 mb-4 mb-md-0"></div> -->
<!-- 				<div class="col-lg-5 col-md-6 mb-4 mb-md-0" style="color: black;"> -->
<!-- 					<h5> -->
<!-- 						<b>Operated By:</b> -->
<!-- 					</h5> -->
<!-- 					<ul class="list-unstyled"> -->
<!-- 						<li><p>Additional Director General of Police (Traffic)<br> -->
<!-- 							Maharashtra State, Mumbai.</p></li> -->
<!-- 						<li><p><i class="fa fa-map-marker" aria-hidden="true"></i> 6th floor, Moti Mahal, 195- Jamshedji Tata Road,<br>Near CCI Club, opp. Samrat Hotel, Churchgate,<br>Mumbai - 400 020. Maharashtra (India).</p></li> -->
<!-- 					</ul> -->
<!-- 				</div> -->

<!-- 				<div class="col-lg-4 col-md-6 mb-4 mb-md-0" style="color: black;"> -->
<!-- 					<h5> -->
<!-- 						<b>eChallan Helpdesk Contact details</b> -->
<!-- 					</h5> -->
<!-- 					<ul class="list-unstyled"> -->
<!-- 						<li><p> -->
<!-- 								<i class="fa fa-phone-square" aria-hidden="true"></i> &nbsp; -->
<!-- 								844 844 8960 -->
<!-- 							</p></li> -->
<!-- 						<li><p> -->
<!-- 								<i class="fa fa-envelope" aria-hidden="true"></i> -->
<!-- 								&nbsp;helpdesk@mahatrafficechallan.gov.in -->
<!-- 							</p></li> -->
<!-- 					</ul> -->
<!-- 				</div> -->
<!-- 				<div class="col-lg-1 col-md-6 mb-4 mb-md-0"></div> -->
<!-- 			</div> -->
<!-- 			<br> -->
<!-- 			<div class="col-12 text-center" -->
<!-- 				style="background-color: white; color: black;"> -->
<!-- 				Website last updated on: 17/08/2023 <br> -->
<!-- 				© 2023 Copyright: Maharashtra Traffic Police</div> -->
<!-- 			<br> -->
<!-- 			Copyright --> 
<!-- 		</div> -->
<!-- 	</div> -->
	<!-- End of .container -->	


<!-- </body> -->
<!-- <script> -->
	
<!-- </script> -->
<!-- </html> -->

			</div>
		</div>
		<footer class="footer">
			<nav class="navigation-sec">
				
			</nav>
			<div class="row">
				<!-- 				<div class="col-lg-3 col-md-3 col-sm-12 footer-first"></div> -->
				<!-- 				<div class="col-lg-4 col-md-3 col-sm-12"></div> -->
				<!-- <div class="col-lg-2 col-md-2 col-sm-12 footer-content-sec footer-operated" >
					<div class="bg-lightgrey">
						<h5>
						<b>Operated By</b>
						</h5>
						<ul class="list-unstyled">
							<li><p>Additional Director General of Police (Traffic) Maharashtra State Mumbai.<br>
 								Additional Director General of Police (Traffic) Maharashtra State Mumbai, Additional Director General of Police (Traffic) Maharashtra State Mumbai.</p></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-2 col-sm-12 footer-content-sec footer-contact-details">
					<div class="bg-lightgrey">
						<h5>
							<b>eChallan Helpdesk Contact details</b>
						</h5>
						<ul class="footer-contact-info ist-unstyled">
							<li><p>
									<i class="fa fa-phone-square" aria-hidden="true"></i> &nbsp;
844 844 8960
								</p></li>
							<li><p>
									<i class="fa fa-envelope" aria-hidden="true"></i>
									&nbsp;helpdesk[at]mahatrafficechallan[dot]gov[dot]in
								</p></li>
						</ul>
					</div>
				</div> -->
				<!-- 				<div class="col-lg-4 col-md-2 col-sm-12 col-xs-12 appStore-img-sec" style="margin-bottom: 10px; display:flex; "> -->
				<div class="container p-4" style="text-align: left;">
					<div class="col-lg-2 col-md-0 mb-4 mb-md-0"></div>
					<div class="col-lg-5 col-md-6 mb-4 mb-md-0" style="color: black;">
						<h5>
							<b>Operated By</b>
						</h5>
						<ul class="list-unstyled">
							<li><p>Additional Director General of Police (Traffic) Maharashtra State Mumbai</p></li>
							<!-- 						<li><p><i class="fa fa-map-marker" aria-hidden="true"></i> 6th floor, Moti Mahal, 195- Jamshedji Tata Road,<br>Near CCI Club, opp. Samrat Hotel, Churchgate,<br>Mumbai - 400 020. Maharashtra (India).</p></li> -->
						</ul>
					</div>
					<div class="col-lg-5 col-md-6 mb-4 mb-md-0" style="color: black;">
						<h5>
							<b>eChallan Helpdesk Contact details</b>
						</h5>
						<ul class="list-unstyled">
							<li><p> 
 								<i class="fa fa-phone-square" aria-hidden="true"></i> &nbsp;
									844 844 8960
 							</p></li>
							<li><p style="overflow-wrap: break-word;">
									<i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;
									helpdesk[at]mahatrafficechallan[dot]gov[dot]in
									<!-- 									helpdesk[at]mahatrafficechallan[dot]gov[dot]in									 -->

								</p></li>
						</ul>
					</div>
				</div>

				<div class="container p-4" style="padding-right: 0px !important; display: flex; justify-content: center;">
					<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" style="margin-bottom: 10px;">
						<a href="https://mahatrafficechallan.gov.in/payechallan/PaymentService.htm?_qc=91a17967f79753cc6a79b7ddf9f890cf#" onclick="RedirectAlertPopup(&#39;https://play.google.com/store/apps/details?id=com.sparken.maharashtra.mtpkotlinapp&amp;hl=en_IN&amp;gl=US&amp;pli=1&#39;)" data-toggle="tooltip"> <img src="./E-Challan Payment Maharashtra State_files/play_store-sm.png" style="width: 140px; margin-bottom: 5px;" class="play-store-img" title="Google PlayStore Link" alt="Google PlayStore Link">
						</a> <a href="https://mahatrafficechallan.gov.in/payechallan/PaymentService.htm?_qc=91a17967f79753cc6a79b7ddf9f890cf#" onclick="RedirectAlertPopup(&#39;https://apps.apple.com/np/app/mahatrafficapp/id1452592428&#39;)" data-toggle="tooltip"> <img src="./E-Challan Payment Maharashtra State_files/app_store-sm.png" style="width: 140px;" class="play-store-img" title="AppStore Link" alt="AppStore Link">
						</a>
					</div>
				</div>
				<!-- 				<div class="col-lg-3 col-md-3 col-sm-1 footer-last"></div> -->
				<div class="col-lg-4 col-md-3 col-sm-1"></div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 text-center footer-bottom">

					<span style="margin-right: 20px;">Website last updated on: 15/09/2025</span>
					<span style="margin-right: 20px;">©
						 2024 Copyright: Maharashtra Traffic Police</span>
					

				</div>
			</div>

		</footer>
	</div>

<div role="log" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></div><div role="log" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></div></body></html>