.policypageheading {
	font-weight: bold;
	margin: auto;
	font-size: 16px;
	margin-bottom: 12px;
	margin-top: 12px;
}

.td {
	vertical-align: middle;
}

.chargestbl {
	margin-top: 5px;
	margin-left: 10px;
	margin-: 10px;
	width: 430px;
	margin-bottom: 8px;
}

.chargestbl td {
	padding: 7px;
}

.ol li {
	margin-bottom: 6px;
}

.Active {
	background-color: #3F51B5;
	padding: 10px;
	color: white;
	border: none;
	border-radius: 2px;
	font-weight: bold;
}

.deActive {
	background-color: #e5e7ea;
	padding: 10px;
	color: gray;
	border: none;
	border-radius: 0px;
}

/* .div1 {
	width: 100%;
	margin: auto;
	padding: 8px;
}

.div2 {
	border: 1px solid #f4f4f4;
} */

.tableswidth {width =100% style="margin-top:5px;
	
}

.checkbox {
	style ="margin: 5px;
}

.termsCondition {
	font-weight: bold;
}

.paynow {
	float: right;
	margin-top: 10px;
}

/*--Start Payment and Security Policy--*/

.policy-parent ol{padding-left: 15px;}
.policy-parent input[type='checkbox'] {float: left;margin-top: 3px;margin-right: 5px;}

/*--End Payment and Security Policy--*/

