footer {
	font-family: verdana !important;
}
/*Css added by Pranita Jadhav for E-challan Payment header and footer design 23-08-2023*/
.container-fluid.main-container-sec { /*position: relative; */
	padding: 0;
}

a:focus {
	text-decoration: none;
}

.main-header {
	background: #000bb7;
	padding: 7px 0;
	margin-bottom: 0 !important;
}

.main-header .row {
	margin-right: -0;
	margin-left: 0;
}

.main-header .header-logo {
	height: auto;
	padding: 0;
}

.header-logo-img {
	width:100px;
}

.header-logo-sec {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.header-logo-sec p {
	color: #fff;
	font-size: 17px;
	margin-bottom: 0;
}
/*.language-dropdown{top: 45px;}*/
.language-dropdown .dropdown-menu {
	display: flex;
	flex-direction: column;
	padding: 0;
}

.language-dropdown a {
	color: #fff;
	adding: 5px 10px;
	text-decoration: none;
}

.language-dropdown .dropdown-item {
	color: #000;
	padding: 9px 10px;
	text-decoration: none;
}

.language-dropdown .dropdown-item:hover {
	color: #000;
	padding: 9px 10px;
	text-decoration: none;
	background: #e4e4e4;
}

.language-dropdown a:focus {
	color: #fff;
	text-decoration: none;
}

.language-dropdown a:hover {
	color: #fff;
	text-decoration: none;
}

.language-dropdown span {
	color: #0d0d0d;
	font-size: 16px;
}

.main-header .language-select {
	min-height: 100px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.language-dropdown .lang-dropdown-arrow {
	font-size: 16px;
	margin-left: 2px;
}

.language-dropdown .dropdown-toggle {
	margin-left: 5px;
}

.d-flex {
	display: flex;
}

.navigation-sec {
	display: flex;
	align-items: center;
	margin-bottom: 3px;
	justify-content: center;
	margin: auto;
}

.navigation-sec .nav-item {
	color: #fff;
	text-decoration: none;
	position: relative;
	list-style-type: none;
	margin: 0 10px;
	font-size: 16px;
	padding: 0 5px;
}

.navigation-sec .nav-item a.nav-link {
	color: white;
	padding-top: 0;
	padding-bottom: 0;
	text-decoration: none;
}

.navigation-sec .nav-item a.nav-link:hover {
	text-decoration: none;
}

.header-navbar-collapse {
	min-height: 100px;
	display: flex;
	align-items: center;
}

.footer .row {
	margin-right: -0;
	margin-left: 0;
}

.footer {
	background: #a6a6a6;
	padding: 8px 0;
	padding-bottom: 0;
}

.footer-nav {
	margin: auto;
	position: relative;
}

.footer-bottom {
	background: #000;
	padding: 10px 0;
}

.footer-content-sec {
	margin-top: 5px;
	color: #fff;
	margin-bottom: 5px;
}

.footer-contact-info {
	padding-inline-start: 0;
}

.footer-contact-info li {
	list-style-type: none;
}

.bg-lightgrey {
	background: none;
	padding: 10px 0;
	margin: 5px;
	min-height: 85px;
	text-align: left;
}

.navigation-sec .nav-list {
	padding-inline-start: 0;
}

.main-sec.row {
	margin-right: -0;
	margin-left: 0;
}

.highway-police-logo-img {
	margin: 0 15px;
	width:100px;
}
/* 		.hamburger{display:none;} */
.resp-dropdown {
	display: none;
}

.form-container {
	width: 1250px !important;
}

.form-right {
/* 	padding: 20px 0; */
	background: #9f9f9f14;
	box-shadow: -5px 2px 10px rgb(80 80 80/ 10%);
}

.main-content-left .text-left {
	padding: 20px 0;
	padding-right: 30px;
	padding-left: 30px;
}

.container-fluid.main-content-left {
	padding-right: 0;
	padding-left: 0;
}

.captcha-text-resp {
	margin-right: 5px;
}

.captcha-refresh-resp:before {
	font-size: 19px;
}

.footer-contact-info p {
	margin-bottom: 0;
}

.bg-lightgrey ul, p {
	margin-bottom: 0 !important;
}

.bg-lightgrey h5 {
	margin-top: 0 !important;
}

.navigation-section .toggle-input {
	display: none;
}

.nav-bg.nav .nav-wrapper nav a {
	color: #fff;
	font-family: verdana !important;
	padding: 5px 10px;
	margin: 0 5px;
	font-size: 16px;
}

.nav-bg.nav .nav-wrapper nav a:focus {
	outline: none;
}

.nav-bg.nav .nav-wrapper nav a:hover {
	background: "";
	text-decoration: none;
}

.navigation-section {
	height: 100px;
	align-items: center;
}

.nav-wrapper nav {
	display: flex;
}

.nav.nav-bg {
	margin: auto;
}

.text-readmore {
	display: none;
}

.resp-dropdown select {
	background: transparent;
	border: none;
	color: #ffffff;
	padding: 2px 3px;
	font-size: 16px;
}

.language-select select {
	background: transparent;
	border: none;
	color: #ffffff;
	padding: 2px 3px;
	font-size: 16px;
}

.resp-dropdown select {
	outline: none;
}

.resp-dropdown select option, .language-select select option {
	color: black;
	padding: 3px 0;
}

.resp-dropdown select option:hover, .language-select select option:hover
	{
	background: #000bb742 !important;
}

.resp-dropdown select option:active, .language-select select option:active
	{
	background: #000bb742;
	color: white;
}

.language-select select {
	outline: none;
}

.play-store-img {
	margin-top: 10px;
}

.navigation-sec .navbar-nav .nav-item:hover {
	background: gray;
	text-decoration: none;
}

.submit-btn-blue {
	background-color: #000bb7 !important;
}

.form-links a {
	color: #000bb7;
}

.footer-content-sec p {
	font-size: 13px;
}

.footer-content-sec i {
	font-size: 12px;
}
.resp-hamburger{display:none;}
@media ( max-width :1800px) {
	.footer-first {
		width: 5% !important;
	}
	.footer-last {
		width: 5% !important;
	}
	.footer-operated {
		width: 25% !important;
	}
	.footer-contact-details {
		width: 25% !important;
	}
	.appStore-img-sec {
		width: 16.66666667% !important;
	}
}

@media ( max-width :1200px) {
	.header-logo-sec p {
		font-size: 14px;
	}
	.main-header .language-select {
		min-height: 85px;
	}
	.header-navbar-collapse {
		min-height: 85px;
	}
	.nav-bg.nav {
		background-color: #050bb7;
	}
	.nav-bg.nav .nav-wrapper nav a {
		margin: 0;
		font-size: 16px;
	}
	.nav-bg.nav .nav-wrapper nav a:hover {
		text-decoration: none;
	}
	.nav-wrapper nav {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 0;
	}
	.footer-nav .navbar-nav .nav-item .nav-link {
		font-size: 16px;
		padding: 4px;
		margin-top: 0;
	}
	.text-left p {
		height: 55px;
		overflow: hidden;
	}
	.text-readmore {
		display: block;
		padding: 10px 0;
	}
	.footer-content-sec {
		margin-bottom: 0;
	}
	.bg-lightgrey {
		margin-top: 3px;
	}
	.footer-content-sec {
		margin-top: 0;
	}
	.navigation-sec {
		margin-bottom: 17px !important;
	}
	.navigation-sec .nav-item {
		margin: 0 5px;
	}
	.hamburger {
		display: none;
	}
	.navigation-section .hamburger {
		top: 10px;
	}
	.play-store-img {
		margin-top: 0;
	}
	@media ( max-width :1142px) {
		.navigation-sec .nav-list {
			padding-inline-start: 0;
		}
		.header-logo-img {
			width: 80px;
		}
		.highway-police-logo-img {
			width: 80px;
		}
		.footer-operated {
			width: 36% !important;
		}
		.footer-contact-details {
			width: 36% !important;
		}
	}
	@media ( max-width :1010px) {
		.footer-contact-info {
			margin-left: 0;
			padding-inline-start: 0;
		}
		.navigation-sec .nav-item {
			margin: 0 5px;
		}
	}
	@media ( max-width :991px) {
		.nav-bg.nav {
			display: block;
			width: 100%;
			position: fixed;
			top: 0;
			height: 100%;
			z-index: 999;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: hidden;
			transition: all 0.3s ease-in-out;
		}
		.nav-wrapper nav {
			flex-direction: column;
			align-items: flex-start;
			padding-left: 15%;
			padding-top: 20px;
		}
		.justify-space-bet {
			display: flex;
			justify-content: flex-end;
		}
		/* 			.navigation-section .hamburger{ display: flex; justify-content: center;align-items: center;    position: absolute;    left: 75px;} */
		/* 			.navigation-section .hamburger-icon{color: white; font-size: 25px;} */
		.navigation-sec {
			position: relative;
			margin: 0;
			top: 20px;
			margin-bottom: 3px;
		}
		.header-navbar-collapse {
			background: #fff;
			display: none;
			z-index: 10;
			top: 23px;
			position: absolute;
			left: -40px;
			border-radius: 5px;
			box-shadow: 1px 3px 4px 0px #c7c7c7 !important;
		}
		.nav-list {
			flex-direction: column;
			width: 135px;
			padding-inline-start: 0;
			margin-left: 0;
		}
		.nav-list .nav-item {
			display: flex;
			align-items: center;
			color: #000;
			padding: 0 10px;
			margin: 0;
		}
		.nav-list .nav-item:hover {
			background: #d8d8d8;
		}
		.nav-list .nav-item .nav-link {
			margin-left: 10px;
			color: #000;
		}
		.nav-list .nav-item:hover i {
			color: #050bb7;
		}
		.nav-list .nav-item:hover a {
			color: #050bb7;
		}
		.bg-lightgrey {
			text-align: left;
			padding: 10px;
		}
		.language-dropdown {
			margin-left: auto;
		}
		.main-header .language-select {
			min-height: auto;
		}
		.main-header .row {
			display: flex;
			flex-direction: column;
		}
		.header-logo-sec {
			order: 2;
			margin-top: -85px;
		}
		.navigation-section {
			order: 1;
		}
		.language-select {
			order: 3;
		}
		.footer-nav .navbar-nav {
			display: flex;
			flex-direction: column;
		}
		.navbar-nav {
			margin: 0 !important;
		}
		.resp-dropdown {
			display: block;
			top: 25px;
			position: relative;
			right: 15px;
		}
		.language-dropdown {
			display: none;
		}
		.dropdown {
			display: none;
			
		}
		.resp-dropdown a {
			color: #fff;
		}
		.header-logo-img {
			width: 70px;
		}
		.highway-police-logo-img {
			width: 70px;
		}
		.resp-dropdown .dropdown-menu .dropdown-item {
			color: #000;
			display: block;
			padding: 5px 10px;
		}
		.resp-dropdown .dropdown-menu {
			left: -25px;
		}
		.resp-dropdown a:hover {
			color: #fff;
			text-decoration: none;
		}
		.resp-dropdown span {
			color: white;
			font-size: 16px;
		}
		.resp-dropdown .lang-dropdown-arrow {
			font-size: 16px;
			margin-left: 2px;
		}
		.resp-dropdown .dropdown-toggle {
			margin-left: 5px;
		}
		.appStore-img-sec {
			display: flex;
			justify-content: center;
			align-items: flex-start;
			margin-bottom: 20px;
		}
		.appStore-img-sec img {
			width: 130px !important;
			margin: 5px;
		}
		.nav {
			position: fixed;
			width: 100%;
			height: 100%;
			background-color: #090E6B;
			top: -100%;
			left: 0;
			right: 0;
			bottom: 0;
			overflow: hidden;
			transition: all 0.3s ease-in-out;
			transform: scale(0);
			z-index: 88;
		}
				.resp-hamburger{
			display: block;z-index: 10;cursor:pointer;
		}
		.resp-menu-links{display:none;background: #000bb7;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  text-align: left;
  z-index: 10;padding-top: 5%;transition: all 0.3s ease-in-out;}
  .resp-menu-links li{padding-left: 10%;}
		.resp-hamburger .hamburger-icon{color: #fff;
    font-size: 32px;}
    .resp-hamburger .hamburger-close-icon{color: #fff;
    font-size: 35px;display:none;cursor:pointer;z-index:100;position: relative;}
  /*   .hamburger-close-icon{display:none;} */
	}
	@media ( max-width :767px) {
		.footer-bottom {
			display: flex;
			flex-direction: column;
		}
		.navigation-sec .navbar-collapse-footer .navbar-nav {
			padding: 0 0 10px 0;
		}
		.footer-contact-details {
			width: 100% !important;
		}
		.appStore-img-sec {
			width: 100% !important;
		}
		.footer-operated {
			width: 100% !important;
		}
		.footer-nav {
			display: flex;
		}
	}
	@media ( max-width :450px) {
		.header-logo-sec {
			display: flex;
			justify-content: flex-start;
			text-align: left;
			align-items: center;
			padding-right: 0 !important;
			padding-left: 0 !important;
			margin-top: -65px;
		}
		.resp-dropdown span {
			display: none;
		}
		.header-logo-img {
			width: 50px;
		}
		.header-logo-sec p {
			font-size: 14px;
		}
		.highway-police-logo-img {
			width: 50px;
		}
		.resp-dropdown .dropdown-menu {
			left: -99px;
		}
		.header-navbar-collapse {
			left: -103px;
		}
		.form-right {
			padding-left: 15px !important;
			padding-right: 15px !important;
		}
		.text-left h1 {
			font-size: 24px;
		}
		.footer-nav {
			display: flex;
			flex-direction: column;
			margin: 0;
			margin-right: auto;
			padding-left: 20px;
		}
	}
	@media ( max-width :340px) {
		.header-logo-sec {
			margin-top: 0;
		}
		.header-logo-sec {
			margin-top: -90px;
		}
		.navigation-section .hamburger {
			top: 4em;
		}
		.resp-hamburger{margin-bottom: 30px;}
	}
	
	@media ( max-width :280px) {.nav-item{margin-top:10px;}}
	#toggle {
		display: none;
	}
	

	/**
  Hamburger
**/
	.hamburger {
		
		position: absolute;
		top: 4em;
		right: 3%;
		margin-left: -2em;
		margin-top: -45px;
		width: 2em;
		height: 22px;
		position:relative;
		cursor:pointer;
		/*   z-index: 5; */
	}
/* 	.hamburger .hamburger-user{color:white;} */
	.hamburger:before{
	content: "\f0c9";
    font: normal normal normal 14px/1 FontAwesome;
    position: absolute;
    top: 0;
    color: #fff;
	}
	.hamburger p {
		position: relative;
		width: 29px;
		height: 4px;
		border-radius: 3px;
		background-color: #fff;
		margin-top: 8px;
		transition: all 0.3s ease-in-out;
		z-index: 9999;
	}

	/**
Nav Styles
**/
	/*.nav {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #090E6B;
  top: -100%; left: 0; right: 0; bottom: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  transform: scale(0);
   z-index:88;
}*/
	.nav-wrapper {
		position: relative;
		overflow: hidden;
		overflow-y: auto;
		height: 100%;
	}
	nav {
		text-align: left;
		margin-left: 25%;
	}
	nav a {
		position: relative;
		text-decoration: none;
		color: #6ecddd;
		font-size: 2em;
		display: inline-block;
		margin-top: 1.25em;
		transition: color 0.2s ease-in-out;
		letter-spacing: 1px;
	}
	nav a:before {
		content: '';
		height: 0;
		position: absolute;
		width: 0.25em;
		background-color: white;
		left: -0.5em;
		transition: all 0.2s ease-in-out;
	}
	nav a:hover {
		color: white;
	}
	nav a:hover:before {
		height: 100%;
	}

	/**
Animations
**/
	#toggle:checked+.hamburger .top-bun {
		transform: rotate(-45deg);
		margin-top: 25px;
	}
	#toggle:checked+.hamburger .bottom-bun {
		opacity: 0;
		transform: rotate(45deg);
	}
	#toggle:checked+.hamburger .meat {
		transform: rotate(45deg);
		margin-top: -7px;
	}
	#toggle:checked+.hamburger+.nav {
		top: 0;
		transform: scale(1);
	}
}

.dropbtn {
	background-color: #FDFDFD;
	color: black;
	padding: 14px;
	font-size: 14px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
}

.dropbtn:hover, .dropbtn:focus {
	background-color: #d3d7cf;
}

.dropdown {
	position: relative;
	display: inline-block;
	background-color: #f1f1f1;
	color: black;
	/*   border: none; */
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
}

.resdropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 100%;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	margin-top: 5px;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	/*   text-decoration: none; */
	display: block;
}

.dropdown a:hover {
	background-color: #ddd;
	color: black;
}

.resdropdown a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}
ul
{
list-style-type: none;
}

/*new*/
.resp-hamburger li{list-style-type: none;position: relative;padding-top: 5px;}
.resp-hamburger a{ color: #fff;
  font-size: 20px;
  text-decoration: none;transition: color 0.2s ease-in-out;
  padding-left: 10%;position: relative;
  display: block;
  padding-top: 5px;}
 .resp-hamburger a:before{content: "";
  position: absolute;
  width: 3px;
  height: 0;
  background: white;
  top: 8px;
  margin-left: -9px;transition: all 0.2s ease-in-out;}
 .resp-hamburger a:hover::before{height: 20px;}
 